 @page "/test" 
<h3>Test is a page </h3>
<p>Google hisobini yaratish</p>
<br>
<br>

<input type="text"
       name="Lastname"
       placeholder="Ism">
<br>
<br>

<input type="url"
       name="Lastname"
       placeholder="Familya">
<br>
<br>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">example.com</span>
</div>
<br>
<br>

<input type="password"
       placeholder="Parol">
<br>
<br>

<input type="password"
       placeholder="Tasdiqlang">
<p>Parol kamida sakkiz belgidan iborat bo'lishi va harflar, raqamlar va maxsus belgilarni o'z ichiga olishi kerak</p>
<br>
<br>

@code {

}
